.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.card {
    margin-top: 1.1em;
}

.card > .container {
    margin: 0;
}

h2 {
    display: flex;
    margin-top: 2.4em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.col .s6:first-child {
    text-align: left;
}

img {
    margin-top: 0.7em;
    width: 27em;
    height: auto;
}

.card-panel {
    padding: 0.5em;
    margin: 0.3em;
    color: white;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

button.btn-submit{
    width: 100%;
}

ul.answer li:hover{
    background-color: #26a69a;
    color: #eafaf9;
    cursor: pointer;
}

ul li.selected{
    background-color: #26a69a !important;
    color: #eafaf9 !important;
}