.container {
    width: 30em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}

.header {
    display: flex;
}

.header h2 {
    margin-top: 6.2em;
}

.icons {
    font-size: 37px;
    padding-top: 0.08em;
    margin: -0.2em 0 0 1em;
}

label {
    margin-left: 4em;
    font-weight: bold;
}

button {
    margin-bottom: 0.7em;
    font-size: 21.5px;
}

div.buttons.d-flex > button:nth-child(1),
a {
    background-color:rgb(205, 24, 64);
}

div.buttons.d-flex > button:nth-child(1),
a {
    margin: 0 0.8em 0.8em 0;
    padding: 0.5em;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
}

div.buttons.d-flex > button:nth-child(1):disabled {
    border: none;
    cursor: not-allowed;
    background-color:rgb(112, 53, 65);

}

a {
    height: 2.9em;
    padding-top: 0.6em;
    font-size: 21px;
}

a:hover {
    text-decoration: none;
}

input {
    cursor: text;
}

input.ng-invalid.ng-dirty{
    border-color : #e91e1e !important;
    box-shadow: 0 1px 0 0 #e91e1e !important;
}

.validation-text {
    border: 1px solid #e91e1e;
    border-radius: 5px;
    background-color: #e93d3d;
    color: rgb(255, 255, 255);
    padding: 0.2em 0.3em;
    margin-left: 4.8em;
}