.container {
    margin: 1em 0 0 22em;
}

.quiz-heading {
    padding-bottom: 0;
}

a:link {
    text-decoration: none;
}

a.btn {
    margin-left: -0.1em;
    color: rgb(252, 252, 252);
    background-color: rgb(195, 0, 47);
}

a.btn:hover {
    color: rgb(195, 0, 47);
    border: 1px solid rgb(195, 0, 47);
    background-color: rgb(252, 252, 252);
}

a:focus {
    box-shadow: none;
}

.start-icon {
    float: right;
    padding-left: 0.5em;
}

.container h3:nth-child(3) {
    margin-top: 0.4em;
    padding-bottom: 0;
}

ul {
    width: 38em;
}

li {
    padding-left: 0;
}

.list-group-item-danger {
    color: rgb(195, 0, 47);
    background-color: rgb(252, 252, 252);
}

ul a {
    color: rgb(195, 0, 47);
}