.container {
    margin: 5em auto;
}

img, p {
    display: flex;
}

img {
    margin: auto;
    width: 30em;
    height: 100%;
    mix-blend-mode: multiply;
}

a, 
a:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(195, 0, 47);
    border: none;
    margin: 1em 0 0 27em;
    padding: 0.7em
}