img, p {
    display: flex;
    justify-content: center;
}

img {
    margin: 4.7em auto;
    width: 35em;
    height: 25em;
    align-items: center;
}

p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}