.container {
    margin: 5em auto;
}

img, p {
    display: flex;
}

img {
    margin: auto;
    width: 30em;
    height: 100%;
}

p {
    justify-content: center;
    font-size: 30px;
    margin-top: 1.1em;
}

a, 
a:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(195, 0, 47);
    border: none;
    margin: 1em 0 0 27em;
}