.container {
    margin: 5em auto;
    width: 47em
}

.elapsed-time {
    color: rgb(87, 84, 84);
    font-size: 22px;
    font-weight: bold;
}

.progress {
    margin: 1em 0;
}

.list-group-item-action {
    background-color: rgb(195, 0, 47);
    color: rgb(255, 255, 255)
}

.list-group-item-danger {
    background-color: rgb(255, 255, 255);
}

.list-group-item-danger:hover {
    background-color: rgb(195, 0, 47);
    color: rgb(255, 255, 255);
}

fa-icon {
    color: rgb(182, 68, 68);
    padding-right: 0.5em;
}