.col {
    margin: 4em;
}
li {
    color: black
}

span {
    font-size: 21px;
    font-weight: normal;
}

div.progress {
    margin: 1em auto 2em auto;
}

.card-title {
    padding-left: 1em;
}

div.card-action {
    padding-top: 0.5em;
}

ul.collection.answer {
    padding-bottom: 0;
    border: 0;
}
