<div class="container">
    <div class="header justify-content-center">
        <h2>Quiz Login</h2>
        <img src="/assets/images/login-logo.png" class="offset-s3">
    </div>
    <div class="form-content">
        <form #loginForm="ngForm" (ngSubmit)="loginHandler(name.value, password.value)">
            <label>Name</label>
            <div class="form-group row">
                <fa-icon [icon]="faUserAstronaut" class="icons user-astronaut-icon col-sm-0 col-form-label"></fa-icon>
                <div class="col-sm-9">
                    <input #nameInput="ngModel" class="form-control" type="text" name="name" #name ngModel required
                        minlength="6">
                </div>
                <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                    <div class="validation-text" *ngIf="nameInput.errors?.required">Please enter name
                    </div>
                    <div class="validation-text" *ngIf="nameInput.errors?.minlength">Name must be at least
                        6 characters long</div>
                </div>
            </div>
            <label>Password</label>
            <div class="form-group row">
                <fa-icon [icon]="faIdCardAlt" class="icons key-icon col-sm-0 col-form-label"></fa-icon>
                <div class="col-sm-9">
                    <input #passwordInput="ngModel" class="form-control" type="password" name="password" #password
                        ngModel required minlength="6" />
                </div>
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                    <div class="validation-text" *ngIf="passwordInput.errors?.required">Please enter
                        password</div>
                    <div class="validation-text" *ngIf="passwordInput.errors?.minlength">Password must be
                        at least 6 characters long</div>
                </div>
            </div>
            <div class="buttons d-flex justify-content-center">
                <button type="submit" [disabled]="loginForm.invalid">Submit</button>
                <a routerLink="/login">Register</a>
            </div>
        </form>
    </div>
</div>