.container {
    margin: 1.21em 7em -0.6em 7em;
}

.row {
    margin: 0.3em;
}

.card, .container {
    display: flex;
}

.card .container div:first-child {
    width: 100%;
    float: left;
    margin: 7em -7em 0 -7em;
}

.card .container div:first-child h2 {
    padding: 0;
    margin: 0;
}

img {
    width: 27em;
    height: auto;
}

.card-panel {
    padding: 0.5em;
    margin: 0.3em;
    color: white;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

button.btn-submit{
    width: 100%;
}

ul.answer li:hover{
    background-color: #26a69a;
    color: #eafaf9;
    cursor: pointer;
}

ul li.selected{
    background-color: #26a69a !important;
    color: #eafaf9 !important;
}