.container {
    margin: 4em auto;
    border: 1px solid rgb(7, 14, 13);
    padding-bottom: 0.4em;
}

h2 {
    text-align: center;
    margin-top: 0.7em;
}

/* img {
    margin-top: 1em;
    margin-left: -4em;
    width: 20em;
    height: 100%;
    background-image: url("../../../assets/images/bg.jpg");
    opacity: 0.3;
} */