 .container {
    text-align: center;
    margin-top: 6rem;
}

h1 {
    font-size: 29px;
}

.guest-buttons {
    margin-top: 3em
}

.register-button,
.login-button {
    color: rgb(255, 255, 255);
    background-color:  rgb(195, 0, 47);
}

.register-button:hover,
.login-button:hover {
    color: rgb(255, 255, 255);
}

.register-button {
    margin-right: 1.8em;
}