<div class="container">
    <h1>Hey, there! Have you just learned some Angular and are anxious to test your knowledge? Or you are an Angular
        guru and want to show your skills? Or you just want to take a break? Waste time on the internet? Splendid! Take
        on our Angular quiz and see
        how much you really know about the framework.</h1>
    <div class="container buttons">
        <a routerLink="/register" class="waves-effect waves-light btn-large"><i class="material-icons left">room_service</i>Register</a><s>sasas</s>
        <a routerLink="/login" class="waves-effect waves-light btn-large"><i class="material-icons right">fingerprint</i>Log in</a>
    </div>
</div>