.row {
    display: flex;
    margin-left: 23em;
    width: 60em;
}

div.col.s8.offset-s2 { 
    margin: 0;
}

.header {
    margin: 0.8em 0 0 0;
    padding: 0 0 0.1em 0;
}

.image {
    width: 30em;
    margin: 0;
}

.content {
    width: 35em;
    margin: -25em 0 0 30em;
}

img {
    width: 27em;
    height: 27em;
    margin: 0 -30em 1em 0;
}

h4 {
    margin: 0;
    padding-bottom: 0;
}

.btn {
    margin: -6.5em 0 0 19.2em;
}

.try-again-button {
    margin-top: -0.6em
}

a {
    margin: 0 18.3em 2.2em 0;
}